h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: roboto, sans-serif !important;
}

p {
	font-family: indivisible, sans-serif;
}

body {
	background: #E5E5E5;
	overflow-x: hidden;
}


/* Home Carousel */
.carousel-item {
	height: 100vh;
	min-height: 300px;
}

.carousel-item img {
	object-fit: cover;
	width: 100%;
	height: 100%;
	min-width: 100%;
	min-height: 100%;
}

.carousel-caption {
	bottom: 220px;
	z-index: 2;
}

.carousel-caption h5 {
	font-size: 45px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 25px;
}

.carousel-caption p {
	width: 60%;
	margin: auto;
	font-size: 18px;
	line-height: 1.9;
}

.carousel-inner:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.7);
	z-index: 1;
}

.carousel-caption p {
	width: 60%;
	margin: auto;
	font-size: 18px;
	line-height: 1.9;
}

.carousel-caption a {
	text-transform: uppercase;
	text-decoration: none;
	background: #FFF;
	padding: 10px 30px;
	display: inline-block;
	color: #000;
	margin-top: 15px;
	font-weight: 600;
	border-radius: 3px;
}

#submitButton {
	text-decoration: none;
	font-family: usual, sans-serif;
	background: #023e8a;
	padding: 10px 30px;
	display: inline-block;
	color: #fff;
	margin-top: 15px;
	font-weight: 600;
}


@media (max-width: 768px) {
	.carousel-caption {
		bottom: 20%;
	}

	.carousel-caption h5 {
		font-size: 1.5rem;
	}

	.carousel-caption p {
		font-size: 1rem;
	}

	.carousel-caption .btn {
		font-size: 1rem;
		padding: 0.5rem 1rem;
	}
}


/* Navbar */

.navbar .getstarted {
	background: #106eea;
	margin-left: 30px;
	border-radius: 4px;
	font-weight: 400;
	color: #fff;
	text-decoration: none;
	padding: .5rem 1rem;
	line-height: 2.3;
}

.navbar-nav a {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 500;
}

.navbar-light .navbar-brand {
	color: #000;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: 800;
	font-style: normal;
	letter-spacing: 3px;
	font-family: usual, sans-serif;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
	color: #000;
}

.navbar-light .navbar-nav .nav-link {
	color: #000;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
	color: #000;
}

.navbar>.container,
.navbar>.container-fluid,
.navbar>.container-lg,
.navbar>.container-md,
.navbar>.container-sm,
.navbar>.container-xl,
.navbar>.container-xxl {
	display: flex;
	flex-wrap: inherit;
	align-items: center;
	justify-content: center;
}

.w-100 {
	height: 100vh;
}

.navbar-toggler {
	padding: 1px 5px;
	font-size: 18px;
	line-height: 0.3;
	background: #fff;
}


dropdown .portfolio .card {
	box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
}

#aboutUsHeader {
	padding-top: 40px;
}

.team .card {
	box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
}

.services .card-body i {
	font-size: 50px;
}

.team .card-body i {
	font-size: 20px;
}


.portfolioSec {
	padding-top: 50px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	max-width: 60%;
}

.portfolioTitle {
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 5px;
}

.portfolioTitle img {
	height: 400px;
}

.portfolioTitle:hover {
	z-index: 2;
	-webkit-transition: all 200ms ease-in;
	-webkit-transform: scale(1.1);
	-ms-transition: all 200ms ease-in;
	-ms-transform: scale(1.1);
	-moz-transition: all 200ms ease-in;
	-moz-transform: scale(1.1);
	transition: all 200ms ease-in;
	transform: scale(1.1);
}




.portfolioTitle p {
	font-size: 18px;
	padding-top: 10px;
	color: black;
	text-decoration: none !important;
}

/* On Scroll Animation */

.reveal {
	position: relative;
	transform: translateY(150px);
	opacity: 0;
	transition: 2s all ease;
}

.reveal.active {
	transform: translateY(0);
	opacity: 1;
}

.column {
	flex: 25%;
	padding: 0 4px;
}

.column img {
	padding-top: 10px;
	height: 500px;
}


.porfolioTitle h3 {
	padding-top: 110px;
	color: black;
	text-align: center;
	font-size: 40px;
	font-style: bold;
}

/* About Us */


.aboutUs h3 {
	padding-top: 110px;
	color: black;
	text-align: center;
	font-size: 30px;
	font-style: bold;
}

#aboutUsSec {
	padding-top: 50px;
	display: flex;
	padding-right: 10%;
	padding-left: 10%;
	align-items: center;
	flex-direction: row;
}

#aboutUsSec img {
	height: 400px;
}

.aboutUs p {

	font-size: 20px;
	padding-right: 40px;
	text-align: justify;
}

/* Contact Us*/

/* Contact Us Section */
input[type=text],
select,
textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

input[type=email],
select,
textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

input[type=number],
select,
textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

input[type=submit] {
	background-color: #4CAF50;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	width: 100%;
}

#contactUsContainer {
	padding-left: 200px;
	padding-right: 200px;
}

#imageContact {
	padding-left: 200px;
	height: 500px;
}

#submitButton {
	width: 100%;
}

.ImagesTitle {
	text-align: center;
	padding-bottom: 30px;
	padding-top: 20px;
}



@keyframes display {
	0% {
		transform: translateX(200px);
		opacity: 0;
	}

	10% {
		transform: translateX(0);
		opacity: 1;
	}

	20% {
		transform: translateX(0);
		opacity: 1;
	}

	30% {
		transform: translateX(-200px);
		opacity: 0;
	}

	100% {
		transform: translateX(-200px);
		opacity: 0;
	}
}




.box {
	width: 300px;
	height: 400px;
	margin: 10px;
	text-align: center;
	padding: 40px 20px;
	color: #ffffff;
	position: relative;
	z-index: 2;
	border-radius: 5px;

}

.box>* {
	position: relative;
	z-index: 2;
	color: #ffffff;
}

.box::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	border: 2px solid rgba(255, 255, 255, 0.5);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
}

.box:hover::before {
	width: 95%;
	height: 95%;
	transition: all ease .50s;
}

.box .icon {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: #ffffff;
	text-align: center;
	display: inline-block;
	position: relative;
}

.box .icon .fas {
	color: #404044;
	font-size: 30px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

hr {
	display: block;
	width: 70%;
	border: 1px solid rgba(255, 255, 255, 0.1);
	margin: auto;

}

.box a {
	text-decoration: none;
	color: #ffffff;
	text-transform: uppercase;
	background-color: #0275d8;
	padding: 10px 25px;
	border-radius: 25px;
	margin-top: 25px;
	display: inline-block;
	font-weight: 600;
}

.box a:hover {
	background-color: #243238;
}

.box .white-border {
	border: 1px solid #ffffff;
}


.box-grey {
	background-color: #404044;
}

.box-blue {
	background-color: #0275d8;
}


/* Section Headers / Titles */
.section-head {
	margin-bottom: 30px;
}

.section-head h4 {
	position: relative;
	padding: 0;
	color: #f91942;
	line-height: 1;
	letter-spacing: 0.3px;
	font-size: 34px;
	font-weight: 700;
	text-align: center;
	text-transform: none;
	margin-bottom: 30px;
}

.section-head h4::before {
	content: '';
	width: 60px;
	height: 3px;
	background: #214559;
	position: absolute;
	bottom: -10px;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.section-head h4 span {
	font-weight: 700;
	padding-bottom: 5px;
	color: #2f2f2f;
}



/* Our Services */

.services-center {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.services-slider {
	width: 100%;
	height: fit-content;
	padding: 70px 0;
	overflow: auto;
}

.services-slider::-webkit-scrollbar {
	width: 80px;
	height: 8px;
}

.services-slider::-webkit-scrollbar-thumb {
	background: #214559;
	border-radius: 10px;
}

.services-slider::-webkit-scrollbar-track {
	background: white;
}

.services-cards {
	width: fit-content;
	display: flex;
	align-items: center;
	justify-content: center;
}

.services-card {
	width: 300px;
	height: 300px;
	background: white;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.14);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
	margin: 0 20px;
}

.services-card a{
	text-decoration: none;
	color: white;
}

.services-card img{
	width: 100%;
	height: 100%;
}

.services-card-text{
	position: absolute;
	width: 100%;
	height: 0;
	top: 0;
	left: 0;
	display: grid;
	place-items: center;
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
	overflow: hidden;
	transition: 0.4s ease-in;
	white-space: nowrap;
	align-content: space-evenly;
}

.services-card:hover .services-card-text{
	height: 100%;
}



.title {
	font-size: 32px;
	font-weight: 600;
}

.subtitle {
	font-size: 18px;
}

.services-card span {
	position: absolute;
	bottom: 10px;
	right: 10px;
	transform: rotate(-45deg);
	font-size: 30px;
}


/* Preloader */


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


#logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fill 1s ease forwards 2.5s;
}

#logo path:nth-child(1) {
    stroke-dasharray: 2911.167236328125;
    stroke-dashoffset: 2911.167236328125;
    animation: line-anim 2s ease forwards;
}

#logo path:nth-child(2) {
    stroke-dasharray: 1193.218505859375;
    stroke-dashoffset: 1193.218505859375;
    animation: line-anim 2s ease forwards 0.4s;
}

#logo path:nth-child(3) {
    stroke-dasharray: 731.8433837890625;
    stroke-dashoffset: 731.8433837890625;
    animation: line-anim 2s ease forwards 0.4s;
}

#logo path:nth-child(4) {
    stroke-dasharray: 705.5343017578125;
    stroke-dashoffset: 705.5343017578125;
    animation: line-anim 2s ease forwards 0.4s;
}

@keyframes line-anim {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fill {
    from {
        fill: transparent;
    }
    to {
        fill: black;
    }
}

.preload {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease;
}

.preload-finish {
    opacity: 0;
    pointer-events: none;
}

.main-content {
    display: none; /* Hide main content initially */
}

.main-content.show {
    display: block;
}









@media only screen and (min-width: 768px) and (max-width: 991px) {
	.carousel-caption {
		bottom: 370px;
	}

	.carousel-caption p {
		width: 100%;
	}

	.navbar-nav {
		display: flex;
		flex-direction: column;
		padding-left: 0;
		margin-bottom: 0;
		list-style: none;
		align-items: center !important;
		text-align: center;
	}

	.card {
		margin-bottom: 30px;
	}

	.img-area img {
		width: 100%;
	}

	html,
	body {
		overflow-x: hidden;
	}

	body {
		position: relative
	}


}

@media screen and (min-width: 600px) and (max-width: 1279px) {

	html,
	body {
		overflow-x: hidden;
	}

	body {
		position: relative
	}

	.column {
		flex: 100%;
		max-width: 100%;
	}

	.column img {
		filter: grayscale(0) brightness(1);
	}



}

/* Mobile */
@media only screen and (max-width: 767px) {

	html,
	body {
		overflow-x: hidden;
		position: relative
	}


	.navbar-light .navbar-toggler {
		color: rgba(0, 0, 0, 1);
		border-color: white;
	}

	.dropdown-menu {
		text-align: center;
	}

	.navbar-nav {
		display: flex;
		flex-direction: column;
		padding-left: 0;
		margin-bottom: 0;
		list-style: none;
		align-items: center !important;
		text-align: center;
	}

	.nav-link{
		text-align: center;
	}

	.carousel-caption {
		bottom: 125px;
	}

	.carousel-caption h5 {
		font-size: 17px;
	}

	.carousel-caption a {
		padding: 10px 15px;
		font-size: 15px;
	}

	.carousel-caption p {
		width: 100%;
		line-height: 1.6;
		font-size: 12px;
	}


	.aboutUs h3 {
		padding-top: 110px;
		color: black;
		text-align: center;
		font-size: 30px;
		font-style: bold;
	}

	#aboutUsSec {
		padding-top: 50px;
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	#aboutUsSec img {
		height: 350px;
		border-radius: 20px;
	}

	.aboutUs p {
		font-size: 20px;
		text-align: justify;
		padding-bottom: 10px;
		padding-right: 0px;
	}

	.myWorkSection {
		text-align: center;
		padding-top: 50px;
	}



	.portfolioSec {
		padding-top: 10px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.portfolioTitle {
		padding-left: 5%;
		padding-right: 5%;
		padding-bottom: 5px;
	}

	.portfolioTitle img {
		width: 350px;
		height: auto;

	}

	.card {
		margin-bottom: 30px;
	}


	.column {
		flex: 100%;
		max-width: 100%;
	}

	.column img {
		filter: grayscale(0) brightness(1);
	}

	/* Contact Us */

	#contactHead {
		padding-left: 10px;
		padding-right: 10px;
	}

	#contactUsContainer {
		flex: 100%;
		width: 100%;
		padding: 10%;
		padding-top: 0%;
	}

	#imageContact {
		display: none;
	}


	/* Services */

	.services-card-text{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		display: grid;
		place-items: center;
		background-color: rgba(0, 0, 0, 0.7);
		color: white;
		overflow: hidden;
		transition: 0.5s ease-in;
		white-space: nowrap;
		align-content: space-evenly;
	}
	
}